<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    {% block navbar %}
    
        <!-- Si l'utitisateur est connecté -->
        {% if app.user %}
          <img src="http://mdl.sym/Pictures/mdl.png" style="width:100px" alt="image">
        <a class="navbar-brand" href="#">{{ app.request.server.get('APP_NAME1') }} {{ app.request.server.get('APP_NAME2') }} {{ app.request.server.get('APP_NAME3') }}</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarColor02">
          <ul class="navbar-nav ml-auto">
          {% if app.request.get('_route') == 'home' %}
            <li class="nav-item active">
            {% else %}
            <li class="nav-item">
            {% endif %}
              <a class="nav-link" href="/">Accueil
                <span class="sr-only">(current)</span>
              </a>
            </li>

            {% if app.request.get('_route') == 'atelier' %}
            <li class="nav-item active">
            {% else %}
            <li class="nav-item">
            {% endif %}
              <a class="nav-link" href="/atelier">Ateliers
                <span class="sr-only">(current)</span>
              </a>
            </li>

            {% if is_granted('ROLE_ADMIN') %}
            {% if app.request.get('_route') == 'admin_show' %}
            <li class="nav-item active">
            {% else %}
            <li class="nav-item">
            {% endif %}
              <a class="nav-link" href="/admin/show">Administration</a>
              <span class="sr-only">(current)</span>
            </li>
            {% endif %}
            <!--
            <li class="nav-item">
              <a class="nav-link" href="#">Pricing</a>
            </li>
            -->
            <li class="nav-item">
              <a class="nav-link" href="/authentication/logout">Deconnexion</a>
            </li>
          </ul>
        </div>
        
        <!-- Sinon pas connecté -->
        {% else %}
          
          <img src="assets/pictures/mdl.png" alt="image">
        <a class="navbar-brand" href="#">{{ app.request.server.get('APP_NAME1') }} {{ app.request.server.get('APP_NAME2') }} {{ app.request.server.get('APP_NAME3') }}</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarColor02">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
              <a class="nav-link" href="/">Accueil
                <span class="sr-only">(current)</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/authentication/login">Connexion</a>
            </li>
          </ul>
        </div>
        
        {% endif %}
    {% endblock %}
</nav>